.save-the-date {
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
  overflow: hidden;
}

.save-the-date h2 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #e0b13acc;
}

.save-the-date .info {
  text-align: center;
}

.save-the-date .fecha {
  font-family: 'Old Standard TT', serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #666666;
}

.btn-fecha {
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #666666;
  background-color: #00000017;
  padding: 10px 20px;
  margin-bottom: 25px;
  border: none;
  border-radius: 40px;
  transition: 0.3s ease;
}

.btn-fecha:hover {
  background-color: #e0b13acc;
  color: #fff;
}

.btn-fecha i {
  font-size: 18px;
  color: #e0b13acc;
  margin-right: 8px;
}

.btn-fecha:hover i {
  color: #fff;
}

/* --------------------------------------------------- */
/* Countdown */
#countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0px 50px 0px;
}

.time {
  display: flex;
  gap: 15px;
}

.time-unit {
  text-align: center;
  font-family: 'Old Standard TT', serif;
}

.time-unit .number {
  display: block;
  font-size: 4rem;
  font-weight: bold;
  color: #e0b13acc;
  padding: 0px 30px;
}

.time-unit .label {
  display: block;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #666;
}

@media (max-width: 412px) {
  .save-the-date h2 {
    margin-top: 0px;
  }

  .save-the-date .fecha {
    font-size: 1.6rem;
  }

  .time-unit .number {
    font-size: 2rem;
    padding: 0px 10px;
  }

  .time-unit .label {
    font-size: 0.6rem;
  }

  .btn-fecha {
    font-size: 0.7rem;
    padding: 8px 15px;
    margin-bottom: -10px;
  }

  .btn-fecha i {
    font-size: 14px;
  }
}
