.intro {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3000;
}

.intro img {
  width: 100%;
  position: absolute;
  top: 0;
}

.intro .up {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.8s ease-out;
}

.intro .down {
  transform: translateY(100%);
  opacity: 0;
  transition: all 1s ease-out;
}

.intro .bottom {
  height: 100%;
  width: 100%;
  z-index: 999;
  background-size: cover;
  background-position: top;
  position: absolute;
  bottom: 0;
  background-image: url('../img/envelopeb1.png');
}

.intro .top {
  z-index: 3100;
  position: relative;
}

.intro .top .hiddenM {
  top: -130px;
}

.intro .top .badge {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -80px;
  cursor: pointer;
  z-index: 3200;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.intro .top .badge:hover {
  transform: scale(110%);
}

.intro .top .badge img {
  width: 100%;
}

.hiddenL {
  display: none;
}

/* Imagen para móvil */
@media (max-width: 1124px) {
  .intro .top .hiddenM {
    display: none;
  }

  .intro .top .hiddenL {
    display: block;
  }

  .intro .top .badge {
    top: 75%;
  }
}

@media (max-width: 768px) {
  .intro .top .badge {
    top: 60%;
  }
}

@media (max-width: 420px) {
  .intro .top .badge {
    width: 180px;
    height: 180px;
    top: 55%;
    margin-left: -90px;
  }
}

@media (max-width: 785px) {
  .intro .top .badge {
    top: 65%;
    margin-left: -100px;
  }
}
