/* Estilo inicial de la cortina */
.cortina {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/fondo-intro.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  overflow: hidden;
  transition: transform 1.5s ease-in-out;
}

.cortina img {
  width: 350px;
  height: 350px;
}

/* Animación para abrir la cortina */
.cortina.abrir-cortina {
  transform: translateY(-100%);
}

@media (max-width: 1124px) {
}

@media (max-width: 785px) {
  .cortina img {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 420px) {
}
