/* Estilo general */
.regalos {
  width: 100%;
  padding: 120px 0px;
  text-align: center;
  background-image: url('../img/fondo-regalos1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}

.regalos .content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 650px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

/* Icono */
.icono-regalo {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.icono-regalo img {
  width: 100%;
}

/* Título */
.regalos h2 {
  font-family: 'Old Standard TT', serif;
  font-size: 2.5rem;
  font-weight: 200;
  color: #666;
  margin-bottom: 20px;
}

/* Frase inicial */
.regalos p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Botón de más información */
.btn-mas-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.3333px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #666666;
  background-color: #0000001d;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  transition: all 0.3s ease;
}

.btn-mas-info:hover {
  background-color: #e0b13acc;
  color: #fff;
  transition: 0.3s ease;
}

/* ----------------------------------------------------------------------------- */
/* Modal */
.modalGift {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.contenido-modal {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.2rem;
  color: #e0b13acc;
  cursor: pointer;
}

.closeModal:hover {
  color: #ba973fcc;
}

.item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.item .left {
  width: 40%;
}

.item .left h3 {
  font-family: 'Old Standard TT', serif;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 10px;
  color: #ba973fcc;
}

.item .right {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.item .right p {
  margin-bottom: 5px;
  color: #666;
}

.item .right .cbu {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ba973fcc;
}

.item input {
  width: calc(100% - 50px);
  border: none;
  background: none;
  color: #666;
  width: auto;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.item span {
  width: 30%;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #666666;
  background-color: #00000017;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.item span:hover {
  background-color: #e0b13acc;
  color: #fff;
  transition: 0.3s ease;
}

.item span i {
  font-size: 1rem;
  color: #ba973fcc;
}

.item span:hover i {
  color: #fff;
}

@media (max-width: 420px) {
  .regalos {
    background-image: url('../img/fondo-regalos.jpg');
  }

  .regalos .content {
    padding: 15px;
    max-width: 290px;
  }

  .icono-regalo {
    width: 50px;
    height: 50px;
  }

  .regalos h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .regalos p {
    font-size: 14px;
  }

  .btn-mas-info {
    font-size: 0.7rem;
    padding: 8px 15px;
  }

  .contenido-modal {
    top: 20%;
    padding: 30px;
    width: 80%;
    max-width: 280px;
  }

  .item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .item .rigth,
  .item .left {
    width: 100%;
  }

  .item .left h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  .item .left .salon {
    margin-top: 20px;
  }

  .item .right p {
    font-size: 12px;
    margin: 10px 0;
  }

  .item .right .urna {
    text-align: center;
  }

  .item span {
    width: 100%;
    font-size: 0.6rem;
    margin: 10px 0px;
  }

  .item span i {
    font-size: 0.6rem;
  }

  .item .right .cbu {
    margin: 10px 0px 3px;
  }

  .item input {
    margin: 0px;
  }
}
